.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}
.p-24 {
  padding: 24px;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.gap {
  gap: 8px;
}

.rounded {
  border-radius: 4px;
}
